@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Roboto;
  background-color: rgb(20, 20, 20);
  color: #fff;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

/* HEADER */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgb(80, 80, 80);
  padding-bottom: 0.5rem;
}


.header-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-family: Ubuntu;
  font-size: 1.5rem;
  color: orange;
}




.welcome-section {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: 0.5rem;
}

.welcome-text {

  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-family: Ubuntu;
  font-size: 0.8rem;
  color: whitesmoke;
}

/* BUTTONS */
.btn {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.75rem;
  cursor: pointer;
}

.btn:hover {
    color: white;

}

.btn-primary {
  background-color: black;
  color: orange;
  border: 1px solid orange;
}

.btn-primary a {
    text-decoration: none;
    color: orange;

}
.btn-secondary a {
  text-decoration: none;
  color: steelblue;

}

.btn-secondary {
  background-color: #111;
  color:steelblue;
  border: 1px solid steelblue;
}

.btn:hover a {
  color: white;
}

.btn-outline {
  background: transparent;
  color: orange;
  border: 1px solid orange;
}

/* ACTION AREA */
.quick-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: 0.5rem;
    gap: 0.8rem;
    margin-bottom: 1.8rem;
}

/* CONTENT SECTIONS */
.content-section {
  background-color: #202020;
  border: none;
  border-radius: 5px;
  padding: 1rem, 0, 1rem, 0;
  margin-bottom: 2rem;
}

.add-new {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}


.horizontal-rule1 {
  border: 1px solid orange;
  margin-top: -2.3rem;
}


.horizontal-rule2 {
  border: 1px solid steelblue;
  margin-top: -2.3rem;
  margin-bottom: 1rem;
}

#add-icon1 {
    font-size: 1.2rem;
    color: orange;
    padding: 0.2rem;
    cursor: pointer;
    transform: 0.25s;

}

#add-icon2 {
    font-size: 1.2rem;
    color: steelblue;
    padding: 0.2rem;
    cursor: pointer;
    transform: 0.25s;
}

#add-icon1:hover {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 3px;

}

#add-icon2:hover {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;

}



.section-title1 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: orange;
}

.section-title2 {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: steelblue;
}




/* NOTE CONTAINER */
.note-container {
  display: flex;
  justify-content: left;
  font-size: 0.85rem;
  color: whitesmoke;
  padding: 1rem;
  margin-top: -1rem;
}

/* NOTE DETAIL WRAPPER */
.note-detail {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  border-bottom: 1px solid rgb(131, 126, 126);
  gap: 0.5rem; /* gap between top row and paragraph */
}

/* TOP ROW: head + sub-head */
.head {
  display: flex;
  justify-content: space-between; /* left and right */
  gap: 2rem; /* space between head and sub-head */
  flex: 1;
}

/* TITLE */
.title {
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
}

/* RIGHT SIDE: sub-head (date + delete) */
.head-right {
  display: flex;
  align-items: center;
  gap: 2rem; /* space between date and trash */
  white-space: nowrap;
  margin-left: 7rem;
}

/* DATE */
.time {
  font-size: 0.7rem;
  color: whitesmoke;
}

/* DELETE ICON */
#deleteNote {
  cursor: pointer;
  color: rgb(255, 0, 0);
  transition: 0.25s;
}

#deleteNote:hover {
    transform: scale(1.2);
}

/* PARAGRAPH UNDER TITLE */
.paragraph {
  margin-left: 0; /* align with title */
  max-width: 80%;
}

.paragraph p {
  font-size: 0.85rem;
  color: whitesmoke;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.more-note, .more-list {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.more-note button, .more-list button {

  background-color: orange;
  border: none;
  border-radius: 2rem;
  color: black;
  padding: 0.4rem;
  cursor: pointer;
  transform: 0.25s;
}

.more-list button {
  background-color: steelblue;
  margin-top: -1rem;
}


.more-note button:hover {
  color: white;
}

.more-list button:hover {
  color: white;
}




  /* TO-DO CONTAINER */

  .todo-container {
         display: flex;
         padding: 1rem;
         margin-bottom: 1rem;
  }

  .task-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  
  }

  .task-list:first-child {
    margin-top: -1rem;
  }


  .task-list li {
    font-size: 0.9rem;
    padding-bottom: 1rem;
    
  }


  li .task-actions {
    margin-top: 0.9rem;
    margin-left: 15rem;
    
  }

  p .date-time {
    font-size: 0.7rem;
    margin-right: 2rem;
  }

  p .edit-task {
  margin-right: 2rem;
  padding: 2px 5px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s
 }

 .todo-rule {
  border: 1px solid gray;
  width: 420px;
  margin-top: 1rem;
 }

 .edit:hover {
     color: gray;
 }


  li #deleteTask {
  cursor: pointer;
  color: red;
  transition: 0.25s;
}

#deleteTask:hover {
    transform: scale(1.2);
}



/*------ WRITE NOTES -----*/

.back-to-dash {
  font-size: 0.85rem;
  
}

.back-to-dash a {
 text-decoration: none;
 color: white;
}

.back-to-dash a:hover {
 color: steelblue;
}

.note-subhead {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


#title {
    width: 13rem;
    height: 2rem;
    border: none;
    border-radius: 2px;
    text-indent: 3mm;
}

#title:focus {
  outline: none;
}

#title::placeholder {
  color: black;
  padding-left: 0.5rem;
}


#clear, #save {
  background-color: black;
  color: white;
  border: 1px solid steelblue;
  border-radius: 5px;
  padding: 0.3rem;
  cursor: pointer;
  transition: 0.258;
}

#clear:hover {
  color: orange;
}

#save:hover {
  color: orange;
}

.colors {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid gray;
      padding-top: 1rem;
      padding-bottom: 1rem;
  
}


.white, .blue, .yellow, .green, .teal {
  width: 2.5rem;
  height: 1.2rem;
  border: none;
  cursor: pointer;
}


.white {
  background-color: white;
}
.blue {
  background-color: steelblue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.teal {
  background-color: teal;
}

#noteSpace:focus {
    outline: none;
}

textarea {
  font-size: 16px;     /* text size */
  line-height: 1.5;   /* space between lines */
  padding: 10px;      /* space inside the box */
  text-align: left; 
  width: 100%;
  min-height: 100px;
  max-height: 500px;
  resize: vertical; /* user can resize up/down */

}



/*------ NOTES LIST -----*/

.notes-list {
  margin-top: 1rem;
  margin-bottom: 2rem;
}




/*------ WRITE TODO LIST -----*/

.create-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.add-task {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

 #task {
  width: 13rem;
  height: 2rem;
  border: none;

}

#task:focus {
  outline: none;
}

#task::placeholder {
  padding-left: 0.5rem;
}

.add-btn {
  background-color: orange;
  border: none;
  color: white;
  padding: 0.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.25s;

}

.add-btn:hover {
  color: steelblue;
}

.back-to-top {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.back-to-top:hover {
  text-decoration: underline;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-family: Ubuntu;
  font-size: 0.9rem;
  color: orange;
}